@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

:root {
  --font-stack: "InterVariable", "Inter", "-apple-system", "BlinkMacSystemFont", "Cairo",
  	"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --list-row-height: 50px;
  --list-row-item-height: 45px;
}

[data-theme=light] {
  --btn-primary: var(--blue-600);
  --page-max-width: 100% !important;
  --control-bg: var(--green-50);
  --subtle-fg: var(--blue-200);
  --table-border-color: var(--gray-400);
  --link-color: var(--blue-600);
  --navbar-bg: var(--blue-100);
  --bg-light-gray: var(--gray-300);
  --sidebar-active-color: var(--blue-300);
  --secondary-button: var(--orange-300);
  --timestamp-color: var(--orange-600);
  --alternat-color: var(--blue-50);
  --akwad-widget-bg: var(--blue-300);
  --akwad-widget-links-bg: var(--blue-200);
  --form-links: var(--gray-50);
  --secondary-button-border: var(--orange-400);
  --form-control-border: var(--gray-400);
  --form-focus: var(--green-800);
  --default-button-bg: var(--gray-100);
  --default-button-border: var(--gray-400);
  --child-table-outer-border: var(--blue-400)
  }
  
/* Workspace Shortcut */
.grid-form-heading {
    border-bottom: 1px solid var(--form-control-border);
}

/* Input fields */
.form-control {
    border: 1px solid var(--form-control-border);
}

.form-control:focus {
  border: 1px solid var(--form-focus);
  box-shadow: none
}


/* Desk Navbar */
.navbar {
    background: var(--navbar-bg);
}

/* Workspace boxes */
.widget.dashboard-widget-box, .widget.links-widget-box {
 background: var(--akwad-widget-links-bg);
}

/* Workspace Shortcut */
.widget.shortcut-widget-box {
    padding: 15px;
    background-color: var(--akwad-widget-bg);
}

/* Workspace Links Card */
.widget.links-widget-box .link-item {
    padding: 6px 4px;
}

/* Number Cards */
.widget.number-widget-box {
    min-height: 130px;
    justify-content: center;
}

/* Overlay color when saving or processing */
#freeze .freeze-message-container {
    background-color: currentColor !important;
}

/* Desk new sidebar (expandable) */

.app-item a {
    height: 40px;
}

.app-switcher-menu {
    top: 60px;
    left: 4px;
}
.sidebar-item-container {
    padding: 5px 0;
}

.standard-sidebar-item {
    padding: 5px 0px !important;
}

.app-switcher-dropdown {
    height: auto;
}

/* Desk navbar dropdown menu */
.navbar .navbar-nav .dropdown-item {
    padding: 14px 10px !important;
}


/* Changing the styles of the Timeline. The mention, the message box and the link color */


/* Message container-callout */
.new-timeline .timeline-item .timeline-content.frappe-card {
    background-color: var(--control-bg);
    border: 1px solid var(--table-border-color);
}

/* Mention bubble */
.new-timeline .timeline-item .timeline-content.frappe-card .content .mention {
    background-color: var(--navbar-bg);
    padding: 2px 5px;
    margin: 2px 0px;
}

.mention a {
    text-decoration: none !important;
}

.frappe-timestamp {
    color: var(--timestamp-color);
}

.timeline-content a {
    color: var(--link-color) !important;
}

/* Indicators in Workspaces shortcuts and Connections Dashboards */

.indicator-pill {
    padding: 12px !important;
}

.form-links .document-link {
    background-color: var(--form-links);
}

.btn.btn-secondary, div#driver-popover-item .driver-popover-footer button.btn-secondary, div#driver-popover-item .driver-popover-footer button.driver-prev-btn {
    background-color: var(--secondary-button);
    border: solid 1px var(--secondary-button-border);
}

.btn.btn-default, div#driver-popover-item .driver-popover-footer button.btn-default {
    background-color: var(--default-button-bg);
    border: 1px solid var(--default-button-border);
}


/* Doctype List View Enhancment */

.list-row {
    height: 50px;
}

.list-row-container:nth-child(EVEN) .list-row .level-right {
    background: var(--alternat-color);
}

.list-row-container:nth-child(EVEN) {
    background: var(--alternat-color);
}

/* Fixing Sidebar in Form and List views */

.layout-side-section .sidebar-section {
    padding: var(--padding-md);
}

/* Fixing the last row radius issue in child table */

.grid-row:last-child {
    margin-bottom: 10px;
}

.form-grid {
    border: 2px solid var(--child-table-outer-border);
}
