@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

html[dir="rtl"] body {
	font-family: 'Cairo', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
 html[data-theme='light'] .btn-primary {
	color: white !important;
	background-color: #1d70ba !important;
	border-color: #1d70ba !important;
}

html[data-theme='light'] .btn-primary:hover, html[data-theme='light'] .btn-primary:focus, html[data-theme='light'] .btn-primary.focus, html[data-theme='light'] .btn-primary:active, html[data-theme='light'] .btn-primary.active, html[data-theme='light'] .open > .dropdown-toggle.btn-primary {
	color: white !important;
	background-color: #2490ef !important;
	border-color: #2490ef !important;
}

html[data-theme='light'] #navbar-search {
	background-color: #f0f4f7;
}

html[data-theme='light'] .list-row-head {
	background-color: #f7fafc;
	border-bottom: 1px solid #f0f4f7 !important;
}

html[data-theme='light'] .grid-heading-row {
    background-color: #eaf2f7;
}

html[data-theme='light'] .grid-heading-row, html[data-theme='light'] .grid-row {
	border: 1px solid #f0f4f7;
}

html[data-theme='light'] .form-grid {
    border: 1px solid #b7b7b7;
    border-radius: 0px;
}

html[data-theme='light'] .grid-form-heading {
	border-bottom: 1px solid #f0f4f7;
}

html[data-theme='light'] .form-control:focus {
    border: 1px solid #3870ba;
    box-shadow: none;
}

html[data-theme='light'] .form-control {
    border: 1px solid #d1d8dd;
}

html[data-theme='light'] .form-grid {
    border: 1px solid #b7b7b7;
    border-radius: 0px;
}

.ql-snow .ql-editor {
    min-height: 150px!important;
}

.kanban-card-title {
    white-space: normal!important;
}

li[style*="direction: rtl;"] span:before {
	margin-right: -1.5em !important;
	margin-left: 0.3em !important;
}

li[style*="direction: rtl;"] {
	padding-right: 1.5em !important;
	padding-left: 0 !important;
}

li[style*="direction: rtl;"].ql-indent-1 {
	padding-right: 4.5em !important;
	padding-left: 0 !important;
}

li[style*="direction: rtl;"].ql-indent-2 {
	padding-right: 7.5em !important;
	padding-left: 0 !important;
}

li[style*="direction: rtl;"].ql-indent-3 {
	padding-right: 10.5em !important;
	padding-left: 0 !important;
}

li[style*="direction: rtl;"].ql-indent-4 {
	padding-right: 13.5em !important;
	padding-left: 0 !important;
}

li[style*="direction: rtl;"].ql-indent-5 {
	padding-right: 16.5em !important;
	padding-left: 0 !important;
}

.ql-editor li[data-list="checked"] {
    text-decoration: line-through;
}

.ql-editor li[data-list="unchecked"], .ql-editor li[data-list="checked"] {
 line-height: 2em;
}

.ql-editor li[data-list=checked]>.ql-ui:before, .ql-editor li[data-list=unchecked]>.ql-ui:before {
 font-size: 2em;
 line-height: 1;
 text-align: center;
}

.ql-editor ol li {
    padding-bottom: 10px;
}

.ql-editor a:not(.mention a) {
    color: #9c27b0;
}
.ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5 {
	margin-top: 0.8em !important;
	margin-bottom: 0.5em !important;
}

.ql-editor ol li:first-child {
	padding-top: 10px !important;
}

.desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected, .standard-sidebar .standard-sidebar-item.selected {
    background-color: #76c6ed;
}

.navbar {
    height: 60px;
    background: #e9f2f7;
    box-shadow: var(--shadow-sm);
    padding: 0;
}

.navbar-home img {
    max-height: 40px !important;
}

.desk-sidebar .standard-sidebar-item:hover, .search-dialog .search-results .search-sidebar .standard-sidebar-item:hover, .standard-sidebar .standard-sidebar-item:hover {
    background-color: #c9e5ff;
    text-decoration: none;
}

.chart-container .axis line, .chart-container .chart-label line {
    stroke: #a2c6e7;
}

.dt-instance-1 .dt-cell--col-1 {
 text-align: right;
}

.widget.links-widget-box {
 background: #ebf6ff;
}


.shortcut-widget-box {
 background: #c5e3ff;
 padding: 15px !important;
}

.quick-list-item {
    background: #def0ff;
}

.ql-editor li.ql-indent-1.ql-direction-rtl {
    padding-right: 4.5em;
}

.ql-editor li.ql-indent-2.ql-direction-rtl {
    padding-right: 7.5em;
}

.ql-editor li.ql-indent-3.ql-direction-rtl {
    padding-right: 10.5em;
}

.ql-editor li.ql-indent-4.ql-direction-rtl {
    padding-right: 13.5em;
}

.ql-editor li.ql-indent-5.ql-direction-rtl {
    padding-right: 16.5em;
}

.ql-editor li.ql-indent-6.ql-direction-rtl {
    padding-right: 19.5em;
}

.ql-editor li.ql-indent-7.ql-direction-rtl {
    padding-right: 22.5em;
}

.ql-editor li.ql-indent-8.ql-direction-rtl {
    padding-right: 25.5em;
}

#freeze .freeze-message-container {
    background-color: currentColor !important;
}

.standard-sidebar-item .item-anchor {
    display: flex;
    overflow: hidden;
    padding: 10px 0px 10px 6px !important;
}

.navbar .navbar-nav .dropdown-item {
    padding: 10px !important;
}

.widget.links-widget-box .link-item {
    padding: 6px 4px !important;
}

.widget.number-widget-box {
    min-height: 130px;
    justify-content: center;
}

/* Targeting the first instance of `.number-widget-box` */
.ce-block:nth-of-type(1) .number-widget-box {
    background-color: #ffe2e6; /* Example property */
}

/* Targeting the second instance of `.number-widget-box` */
.ce-block:nth-of-type(2) .number-widget-box {
    background-color: #fff4de; /* Example property */
}

/* Targeting the first instance of `.number-widget-box` */
.ce-block:nth-of-type(3) .number-widget-box {
    background-color: #dcfce7; /* Example property */
}

/* Targeting the second instance of `.number-widget-box` */
.ce-block:nth-of-type(4) .number-widget-box {
    background-color: #f4e8ff; /* Example property */
}

/* Changing the styles of the Timeline. The mention, the message box and the link color */

.new-timeline .timeline-item .timeline-content.frappe-card {
    background-color: #edf6fd;
    border: 1px solid #c5e3ff;
}

.new-timeline .timeline-item .timeline-content.frappe-card .content .mention {
    background-color: #c5e3ff;
    padding: 2px 5px;
    margin: 2px 0px;
}

.mention a {
    text-decoration: none !important;
}

.frappe-timestamp {
    color: #7c7c7c;
}

.timeline-content a {
    color: #0070cc !important;
}

/*Increasing the density of the border on the Form View of the Doctypes */
.std-form-layout>.form-layout>.form-page {
    border: 1px solid #c5c5c5;
}
